<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appId</key>
	<string>realmtest-ekqof</string>
	<key>appUrl</key>
	<string>https://realm.mongodb.com/groups/641b98ceccecb711dbe95c47/apps/645d67a8225c2c1c9cdcad9a</string>
	<key>baseUrl</key>
	<string>https://realm.mongodb.com</string>
	<key>clientApiBaseUrl</key>
	<string>https://us-east-1.aws.realm.mongodb.com</string>
	<key>dataApiBaseUrl</key>
	<string>https://us-east-1.aws.data.mongodb-api.com</string>
    <key>dataSourceName</key>
    <string>mongodb-atlas</string>
</dict>
</plist>
